
.top {
  margin-bottom: 0px;
}
/*****************************top banner*****************/
.banner{
  list-style: none;
  background-color: #EC6634;
  padding: 1px;
  height: 45px;
}
.banner ul{
  margin-left: 40px;
}
.banner li {
  display: inline-block;
  padding: 5px;
  color: white;
  margin: 5px 0px 5px 40px;
  border-radius: 4%;


}
.banner li:hover{
  background-color: #C7542C;
}
/******************Logo and Selection**************/
.logo1 {
  float: left;
  width: 150px;
  margin-left: 40px;
  margin-bottom: 15px;
}

.logosection ul{
  margin-top: 30px;
  display: inline-block;
  list-style: none;

}
.logosection li{
  display: inline-block;
  list-style: none;
  padding: 15px;
  font-size: 30px;
}
.logosection{ 
  height: 145px;
  overflow: auto;
 } 
 
/**************************Sign In/Cart*********************/
/********Sign-in and Cart/Search function****/
.signcart{
  float: right;
  width: 200px;
  margin-right: 25px;
  margin-top: -110px;
}

/*************sign-in/register only**********/
.signin{
  display: inline-block;
  width: 100%;
  margin-bottom: 2px;
  margin-right: 25px;
}
.signin ul{
  display: inline;
}
.signin li{
  font-size: 12px;
  padding: 2px;
}
/******************cart and search only***************/
.cartform {
  display: inline-block;
  width: 100%;
}
.cartform ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin-top: 3px;
}
.cartform li{
  font-size: 14px;
  display: inline-block;
  padding: 2px;
}
.cart{
  text-align: center;
  border: 1px solid black;
  padding: 2px;
  width: 35%;
}
.search {
  width: 55%
}

  
}
form{
  width: 30px;
}
/***************************Tie Gallery****************/
.dressing {
  background-color: #F4F4F4;
  min-height: 335px;
  border-top: 10px solid transparent;
-webkit-border-image: url('img/perforated-bottom@2x.png') 10 5 repeat;
-webkit-o-image: url('img/perforated-bottom@2x.png') 10 5 repeat;
border-image: url('img/perforated-bottom@2x.png') 10 5 repeat;
}

.tiepics{
  margin-left: 100px;
  background-color: #F4F4F4;
}

.spot1{
  float: left;
  max-width: 8%;
  text-align: center;
  margin: 0 10px;
  background-color: #F4F4F4;
}
.spot2{
  float: left;
  max-width: 8%;
  text-align: center;
  margin: 0 10px;
  background-color: #F4F4F4;
}

.spot3{
  float: left;
  max-width: 8%;
  text-align: center;
  margin: 0 10px;
  background-color: #F4F4F4;
}
.spot4{
  float: left;
  max-width: 8%;
  text-align: center;
  margin: 0 10px;
  background-color: #F4F4F4;
}
.spot5{
  float: left;
  max-width: 8%;
  text-align: center;
  margin: 0 10px;
  background-color: #F4F4F4;
}
.spot6{
  float: left;
  max-width: 8%;
  text-align: center;
  margin: 0 10px;
  background-color: #F4F4F4;
}
.spot7{
  float: left;
  max-width: 8%;
  text-align: center;
  margin: 0 10px;
  background-color: #F4F4F4;
}
.spot8{
  float: left;
  max-width: 8%;
  text-align: center;
  margin: 0 10px;
  background-color: #F4F4F4;
}
.spot9{
  float: left;
  max-width: 8%;
  text-align: center;
  margin: 0 10px;
  background-color: #F4F4F4;
}
.divbetter{
  background-color: #f4f4f4;
  height: 400px;
}
.better{
  clear: both;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  margin-top: 80px;
  
}
/*********************Accessories********************/
.access{
  margin-top: 80px;
  margin-bottom: 50px;
}
.accesspics{
  margin-left: 80px;
}
.accesspics1{
  height: 250px;
  width: 400px;
  display: inline-block;
  background-image: url("img/bow-ties@1.5x.jpg");
  background-size: 97%;
  margin: 0 10px;
  
}
.accesspics2{
  height: 250px;
  width: 400px;
  display: inline-block;
  background-image: url("img/pocket-squares@1.5x.jpg");
  background-size: 97%;
  margin: 0 10px;
  
}
.accesspics2 h2{
  line-height: 12px;
  padding: 3px;
}

.accesspics3{
  height: 250px;
  width: 400px;
  display: inline-block;
  background-image: url("img/tie-bars@1.5x.jpg");
  background-size: 90%;
  margin: 0 10px;
}
.access h2{
  padding: 0 8px;
}

.accesscap{
  float: right;
}
/**********************STORY********************/
.story{
  margin-top: 50px;
  border-bottom: 6px solid transparent;
-webkit-border-image: url('img/hatch-light@2x.png') 78 3 repeat;
-webkit-o-image: url('img/hatch-light@2x.png') 78 3 repeat;
border-image: url('img/hatch-light@2x.png') 78 3 repeat;
 
}
.story h1{
  text-align: center;
  font-weight: normal;
  margin-bottom: 30px;


}
.story p{
  color: blue;
  text-align: center;
}
/*********************Weekly Pick section*****************/
.section{
  margin-left: 20px;
  padding: 0;

}
.wp {
  float: left;
  max-width: 20%;
  margin: 2.5%
}
.wp img {
  max-width: 100%
}
.wp a{
  color: #57B0FB;
  text-decoration: none;
  line-height: 12px;
}
.loop{
  float: left;
  max-width: 20%;
  margin: 2.5%;
  padding: 0;
  
}
.loop p{
  margin: 0px;
  padding: 0px;
  margin-bottom: 25px;
}
.quarter{
  float: left;
  max-width: 20%;
  margin: 2.5%;
}
.quarter form{
  margin-bottom: 15px;
}
button {
  color: white;
  background-color: #37A1FB;
  height: 35px;
  border-radius: 8%;
}
.style {
  float: left;
  max-width: 20%;
  margin: 2.5%;
}
.style img{
  max-width: 100%;
}
.style a{
  text-decoration: none;
  color: #68B3F8;
}
.fb{
  display: inline-block;
  background: url('img/sprite@2x.png') no-repeat -270px 0;
  background-size: 400px 200px;
  width: 35px;
  height: 35px;
}
.pin{
  display: inline-block;
  background: url('img/sprite@2x.png') no-repeat -270px -40px;
  background-size: 400px 200px;
  width: 35px;
  height: 35px;
}
.twit{
  display: inline-block;
  background: url('img/sprite@2x.png') no-repeat -270px -80px;
  background-size: 400px 200px;
  width: 35px;
  height: 35px;
}